<div class="row mt-2">
    <label class="pr-1">Environments</label>
    <select class="mr-1 mb-1" [(ngModel)]="selectedEnv" (change)='onOptionsSelected($event.target.value)'>
        <ng-container *ngFor="let evn of environments">
            <option value="{{evn}}">{{evn}}</option>
        </ng-container>
    </select>

    <label class="mr-1">Prop</label>
    <button type="button" class="btn-xs btn-success dropdown-toggle mr-1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
    </button>
    <div class="dropdown-menu">
        <div class="mt-2 ml-3">
            <div *ngFor="let option of options">
                <label>
                    <input type="checkbox" name="options" [(ngModel)]="option.checked" />
                    {{option.name}}
                </label>
            </div>
        </div>
    </div>
</div>

<!-- <ngx-json-viewer *ngIf="deplRecords" [json]="deplRecords" [expanded]="false"></ngx-json-viewer> -->
<div class="row">
    <table class="table table-sm mt-3 table-striped table-hover">
        <thead>
            <tr class="thead-dark">
                <th>Artifact</th>
                <th *ngFor="let option of options">
                    <ng-container *ngIf="option.checked">
                        {{option.name}}
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let art of artifacts">
                <td>{{art}}</td>
                <td *ngFor="let option of options">
                    <app-depl-record [artifact]="art" [option]="option" [selectedEnv]="selectedEnv"></app-depl-record>
                </td>
            </tr>
        </tbody>
    </table>
</div>