<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Code Version</th>
                <th>Assignment Type</th>
                <th>Artifact</th>
                <th>Pending Deployment Version</th>
                <th>Pending Deployment Build</th>
                <th>Last Deployed Version</th>
                <th>Last Deployed Build</th>
                <th>Deployed Revision</th>
                <th>Deployed MD5 Checksum</th>
                <th>Deployment Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <!--No data strucutre yet, hard code for now-->
            <tr>
                <td><a class="btn" href="env-details">cct201</a></td>
                <td>dcc-1.0.0.1</td>
                <td>Deployment Target</td>
                <td>aid-summary-webapp-static.zip</td>
                <td>1.0-ng</td>
                <td>902</td>
                <td>1.0-ng-SNAPSHOT</td>
                <td>902</td>
                <td>157162</td>
                <td>123456789</td>
                <td>2019-11-07 03:13:13 PM EST</td>
            </tr>
        </tbody>
    </table>
</div>