<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Environment Type</th>
                <th>Infrastructure</th>
                <th>Purpose</th>
                <th>Active for Deployment</th>
                <th>Arch Version</th>
                <th>Code Version</th>
                <th>Sched Version</th>
                <th>Age (days)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of (data| keyvalue)">
                <td>{{item.key}}</td>
                <td>{{item.value.environment_type}}</td>

            </tr>
        </tbody>
    </table>
</div>